<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>java_servlet</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블린 컨테이너에 의해 관리되는 모든 서블릿 설정 정보 -->
  <context-param>
  	<param-name>uploadPath</param-name>
  	 <param-value>c:/ezen-academy/fileStorage</param-value> 
    <!-- <param-value>c:/ezen-academy/fileUpload</param-value> -->
  	
  </context-param>

<!-- 서블릿 등록  -->  
<servlet>
	<servlet-name>HTTPServletResponseExample</servlet-name>
	<servlet-class>ezen.servlet.HTTPServletResponseExample</servlet-class>
	<init-param>
		<param-name>fileStorage</param-name>
		<param-value>C:/ezen-academy/workspace/java_servlet/src/main/fileStorage/</param-value>
	</init-param>
</servlet>

<servlet-mapping>
	<servlet-name>HTTPServletResponseExample</servlet-name>
	<url-pattern>/response</url-pattern>

</servlet-mapping>
  
</web-app>